.center {
  background: #ebebeb;
  padding: 105px 0 135px;
}
.center .login {
  width: 1000px;
  height: 385px;
  box-shadow: -5px 5px 5px #dadada;
  margin: 0 auto;
  background: url(../images/lo.png) no-repeat center center;
  position: relative;
}
.center .login .box {
  position: absolute;
  right: 0;
  top: 0;
  width: 345px;
  height: 330px;
  padding: 55px 0 0 45px;
}
.center .login .box h3 {
  font-size: 22px;
  color: #15afff;
  font-weight: 600;
  height: 40px;
}
.center .login .box input {
  display: block;
  width: 285px;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.center .login .box p {
  display: block;
  color: #f54343;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  background: url(../images/error-ico.jpg) no-repeat center left;
  padding-left: 20px;
}
.center .login .box button {
  font-size: 18px;
  color: #FFFFFF;
  background: #15afff;
  letter-spacing: 5px;
  width: 300px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  outline: none;
  margin-top: 50px;
}
.footer {
  height: 40px;
  line-height: 40px;
  color: #a6a6a6;
  font-size: 14px;
  text-align: center;
  background: #FFFFFF;
}
